<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta charset="utf-8" />
    <link rel="icon" href="static/images/TrendyTraderLogo.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />
    <link rel="apple-touch-icon" href="static/images/TrendyTraderLogo.jpg" />
    <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <!--
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    -->
    <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
    <title>TrendyTrader</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Navbar3.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='text.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='response.css') }}">

    <!-- <style>
      .text-with-bg {
        background-image: url('static/images/TrendyTraderLogo2.png');
        background-size: cover;
        display: block;
        margin: 0 auto;
        color: #fff;
        font-size: 20pt;
        padding: 20px;
        margin-bottom: 20px;
        height: 100%;
        width: 900px;
        margin-top: 20px;
      }
    </style> -->

  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <!--
      This HTML file is a template.
      If you open it directly in the browser, you will see an empty page.

      You can add webfonts, meta tags, or analytics to this file.
      The build step will place the bundled scripts into the <body> tag.

      To begin the development, run `npm start` or `yarn start`.
      To create a production bundle, use `npm run build` or `yarn build`.
    -->
    <nav>
      <h2><br>TrendyTrader</h2>
      <div className="navbar-container">
          <a href="/about">About Us</a>
          <a href="/">Search</a>
      </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div id="TT">
      <img src="static/images/TrendyTraderLogoWhite.jpg" alt="Trendy Trader Logo" style="border-radius: 50%;">
    </div>



    <!-- <div class="text-with-bg">
      <p>
        Welcome to TrendyTrader!This is our capstone project we have created for our Data Science 440 course. 
        For this project we were able to development as a tool for stock market analysis. 
        Through gathering data, we scraped from a Twitter API we have been able to conduct sentiment analysis on numerous tweets and use that information from the sentiment analysis to give each tweet a score. 
        TrendyTrader users can review specific stocks they want to learn more about.
      <br><br><br>
        TrendyTrader is more than a project to us, 
        it has been a semester long effort that has challenged us as students and allowed us to showcase some of the skills we have been able to develop at data science students in our four years at the Pennsylvania State University.
      </p>
    </div> -->


    <!-- Navs CODE <div class="cover" id="home">
      <div class="cover-text">
        <p class="lead">
            Welcome to TrendyTrader!This is our capstone project we have created for our Data Science 440 course. 
            For this project we were able to development as a tool for stock market analysis. 
            Through gathering data, we scraped from a Twitter API we have been able to conduct sentiment analysis on numerous tweets and use that information from the sentiment analysis to give each tweet a score. 
            TrendyTrader users can review specific stocks they want to learn more about.
          <br><br><br>
            TrendyTrader is more than a project to us, 
            it has been a semester long effort that has challenged us as students and allowed us to showcase some of the skills we have been able to develop at data science students in our four years the Pennsylvania State University.
        </p>
      </div>
    </div> -->

      <p id="text">
        Welcome to TrendyTrader! This is our capstone project we have created for our Data Science 440 course. 
        For this project we were able to develop a a tool for stock market analysis. 
        Through gathering data, we scraped from a Twitter API, we have been able to conduct sentiment analysis on numerous tweets and use that information from the sentiment analysis to give each tweet a score. 
        On TrendyTrader users can review specific stocks they want to learn more about.
        <br><br><br>
        TrendyTrader is more than a project to us, 
        it has been a semester long effort that has challenged us as students and allowed us to showcase some of the skills we have been able to develop at data science students in our four years the Pennsylvania State University.
      </p>
      <br>
      <br>
      <br>
      <br>
      <br>
  
    <footer>
      <p>
      Penn State University DS440 2023 Capstone Project&nbsp;
      <br>
      Created by: Jiso Awe, Maxwell Bredl, Jarrod Keating, & Tanav Thanjavuru
      </p>
    </footer>
  
  
  </body>
</html>
